h1 {
    color: #127e33;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido {
    box-shadow: 5px 5px 5px #0000002c;
}

button {
    background-color: #127e33;
    border: none;
    color: #fff;
}

button:hover {
    background-color: #14a948;
    color: #fff;
}
